@import "tailwindcss";

:root {
  /* --background: 217 217 217; */
  --background: 255 255 255;
  --background-alt: 241 245 249;
  --primary: 46 27 250;
  --secondary: 237 242 254;
  --font-default: 47 46 51;
  --font-secondary: 133 135 139;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Satoshi", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

  --color-background: rgb(var(--background));
  --color-background-alt: rgb(var(--background-alt));

  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));

  --color-text: rgb(var(--font-default));
  --color-text-secondary: rgb(var(--font-secondary));
  
  
  --shadow-soft: var(--shadow);
}


@layer base {
  html {
    background-color: rgb(var(--background));
    color: rgb(var(--font-default));
    scroll-behavior: smooth;
  }
}