@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /* --background: 217 217 217; */
  --background: 255 255 255;
  --background-alt: 241 245 249;
  --primary: 97, 104, 237;
  --secondary: 237 242 254;
  --font-default: 47 46 51;
  --font-secondary: 133 135 139;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.12);

  --timeline-gradient: linear-gradient(267deg,rgba(0, 0, 140, 1) 0%, rgba(0, 183, 255, 1) 100%);
  --timeline-gradient-alt: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Satoshi", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

  --color-background: rgb(var(--background));
  --color-background-alt: rgb(var(--background-alt));

  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));

  --color-text: rgb(var(--font-default));
  --color-text-secondary: rgb(var(--font-secondary));
  
  
  --shadow-soft: var(--shadow);

  --gradient-timeline: var(--timeline-gradient);
  --gradient-timeline-alt: var(--timeline-gradient-alt);
}


@layer base {
  html {
    background-color: rgb(var(--background));
    color: rgb(var(--font-default));
    scroll-behavior: smooth;
  }
}