
<div class="min-h-screen flex flex-col items-center justify-center gap-[25px]">
  <h2 class="text-6xl font-bold">Tecnologías</h2>
  <span class="text-2xl font-medium">Font-End</span>
  <span>Javascript</span>
  <span>Desarrollo de funcionalidades complejas en entornos web</span>
</div>