---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  target="_blank"
  class="bg-white text-2xl w-[326px] h-[56px] flex items-center p-[15px] rounded-[10px] shadow-soft font-medium justify-between"
  href={href}
>
  <slot />
</a>
